/* table{ */
/* 	border-collapse: collapse; */
/* 	width: 80%; */
/* 	border:3px solid #ddd; */
/* } */
/* th{ */
/* 	background-color: #ddd; */
/* } */
/* th,td{ */
/* 	padding: 5px; */
/* 	text-align: left; */
/* 	border-bottom: 1px solid #ddd; */
/* } */
/* .left{ */
/* 	background-color: #eee; */
/* } */
/* tr:hover { */
/* 	background-color: #f5f5f5; */
/* } */
/* a { text-decoration:none } */


@media (min-width: 991px) { 
.qna_table{
	border-collapse: collapse;
	width: 991px;
	white-space: normal;
	font-size: 12.5px;
	table-layout: fixed;
	}
	
}

@media (max-width: 991px) { 
.qna_table{
	border-collapse: collapse;
	width: 767px;
	white-space: normal;
	font-size: 12.5px;
	table-layout: fixed;
	}
	
}

@media (max-width: 767px) { 
.qna_table{
	border-collapse: collapse;
	width: 500px;
	white-space: normal;
	/* word-break:keep-all; */
	font-size: 12.5px;
	table-layout: fixed;
	}
	
}


th{
/* 	#222222 */
/* #ffffff; */
	background-color: #222222;
	color:#B2B2B2;
	text-align: center;
	padding : 10px 5px 10px 5px;
	border-bottom: 1px solid #ddd;
	font-size: 13.5px;
}
td{
	padding : 15px 20px 15px 20px;
	text-align: left;
	border-bottom: 1px solid #ddd;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}

.left{
	background-color: #222222;
	text-align: center;
	color:#B2B2B2;
	text-overflow:ellipsis;
	font-size: 13.5px;
}
tr:hover {
	background-color: #f5f5f5;
}
